@charset "UTF-8";
@import url('../css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400;1,600;1,700&display=swap');
@font-face {
    font-family: hynitrfont;
    src: url(../font/Questrial-Regular.ttf);
    font-weight: bold;
  }

*,
*::before,
*::after {
    box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.5s ease-in;
}

::scrollbar {
  width: 10px;
}

/* Track */
::scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::scrollbar-thumb {
  background: #eee; 
}

/* Handle on hover */
::scrollbar-thumb:hover {
  background: #555; 
}

@media (prefers-reduced-motion: no-preference) {
     :root {
        scroll-behavior: smooth;
    }
}

ul ,li {
  margin:0;
  padding:0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: hynitrfont;
}

body {
  margin: 8px !important;
  font-family: 'Nunito', sans-serif;
  background-color: #e8e7ee;
}

section {

  margin: 0px;
}
.navbar{
  background-color: #e8e7ee !important;
  
}
.offcanvas{
  background-color: #e8e7ee!important;
  
}
.navbar-brand{
  color: #114667 !important;
  font-size: 10px !important;
}
.dropdown-menu{
  background-color: #e8e7ee !important;
  border: none !important;
}
span .navbar-toggler-icon{
  background-color: #114667 !important;
}
.navbar-toggler{
    
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.toggler-icon{
  width: 100%;
  height: 3px;
  background-color: #114667;
  display: block;
  position: absolute;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  border-radius: 10px;
}

/*when navigation is clicked*/
.navbar-toggler .top-bar{
  margin-top: 7px;
  transform: rotate(0deg)
}
.navbar-toggler .middle-bar{
  margin-top: 15px;
  transform: rotate(0deg);
}
.navbar-toggler .bottom-bar{
 margin-top: 0px;
 transform: rotate(0deg);
}
/*state when navbar is collapsed*/
button.btn-close{
  color: #114667 !important;
}
.nav-item{
  margin-left: 15px !important
}
.nav-link{
  color: #114667 !important;
}
#home {

    width: 100%;
    height: 100vh;
}


.home-title {

    color: #114667 !important;
}

.img-header {

    mix-blend-mode: darken;
    max-width: 105% !important;
}

.abtimg {

  mix-blend-mode: darken;
  max-width: 125% !important;
}

.headerbtn1 {

  outline: black;
  border: 1px solid #114667 !important;
  font-size: 20px;
  background-color: #2f4b9b;
  color: white;
  border-radius: 20px;
}

.headerbtn1:hover {
  
  background-color: transparent;
}

.headerbtn2 {
  border: 1px solid #2f4b9b !important;
  font-size: 20px;
  background-color: transparent;
  color: black;
  border-radius: 20px;
}

.headerbtn2:hover {
  background-color: #2f4b9b !important;
  color: white !important;
}

.card{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
  border-radius: 10px !important;
}

.testimonials{
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
  background-color: white !important; */
  color: #333 !important;
}

.carousel-indicators{
  position: relative;
  margin-top: 1.5rem;
}

.carousel-indicators [data-bs-target] {
  background-color: #114667 !important;
  border-radius: 100%;
  width: 10px;
  height: 10px;
}

.carousel-control-prev, .carousel-control-next  {
  color: #114667 !important;
}

.items{
  max-width: 800px;
  margin: auto;
}

.items img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 100%;
}

.stars{
  margin-bottom: 1.5rem;
}

.stars i{
  color: red !important;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.items q{
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

/********** RESPONSIVENESS **********/

/* For 480 Resolution - Laptop*/  
@media only screen   
and (min-device-width : 320px)   
and (max-device-width : 480px)  
{ /* STYLES GO HERE */}  


/* For 640 Resolution - mobile */  
@media only screen   
and (min-device-width : 360px)   
and (max-device-width : 640px)  
{

    .img-header {

        max-width: 100%;
        height: auto;
    }

    .home-title {

        font-size: calc(2.575rem + 2.9vw);
    }

    #home {

      padding-top: 0.5rem !important;
    }

    #about {

      padding-top: 0rem !important;
    }

    .featured {

      margin-bottom: 2rem!important;
    }


}  


/* For 1024 Resolution - laptop 1 */  
@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px)  
{ /* STYLES GO HERE */}  


/* For 1366 Resolution  -- laptop 2*/  
@media only screen   
and (min-width: 1030px)   
and (max-width: 1366px)  
{ /* STYLES GO HERE */} 


/** desktop screen */
@media only screen   
and (min-width: 1370px)  
and (max-width: 1605px)  
{ /* STYLES GO HERE */}  


/*Ipad Orientation : Landscape */  
@media only screen   
and (orientation : landscape)   
and (min-device-pixel-ratio: 1)  
and (min-device-width : 768px)   
and (max-device-width : 1007px)   
{ /* STYLES GO HERE */}



/*ipad Orientation : Portrait */  
@media only screen   
and (orientation : portrait)   
and (min-device-pixel-ratio: 1)   
and (min-device-width : 768px)   
and (max-device-width : 1007px)  
{ /* STYLES GO HERE */}  


/**
.navbar {
  background-color: #1b3a4c !important;
}

.nav-link {
  margin-left: 20px !important;
  color: white !important;
  font-size: 16px;
}
.email-marketing a.btn {
  background-color: #1b3a4c !important;
  color: white !important;
}

#cta {
  background-color: rgb(162, 190, 211);
}

.card-title {
  color: #1b3a4c;
}

.card-text {
  color: rgb(144, 142, 150);
}

.btn:hover {
  background: #1b3a4c;
}

.cta:hover {
  font-weight: 700;
  color: #1b3a4c;
  background: #fff;
}
***/